body {
  margin:0px;
  text-align: center;
  font-size: 200%;
  /* background-color: azure; */
}
h1 {
  font-family: 'Sacramento', cursive;
  font-size:5.65rem;   /* 100% = 16px = 1em* |||| rem is irrelative to root ignore all parent size */  
    margin:0 auto;
    color:#66BFBF;
    line-height: 2;

}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:#66BFBF;
  font-weight: normal;

}
h3{
  font-family: 'Montserrat', sans-serif;
  color:#11999E;
}
a{
  color:#11999E;

}


.top-container{
  background-color: #E4F9F5;

  position: relative;
  padding-top: 100px;
}

.programmer{
  font-weight: normal;
} 
.pro {
  text-decoration: underline;
}

.boxmodel {
  /* border:10px solid; */
  /* display:inline-block; */
  /* border-width: 0px 20px 10px 30px; */

  /* left: 400px; */
  width: 200px;
  height: 200px;
  background-color: rgb(214, 25, 25);
  /* padding:20px; */
  /* margin-left:600px; */
}

.boxmodel2 {
  /* display:inline-block; */
  /* border: 10px solid; */
  

  /* left: 200px;
  bottom: 220px; */
  /* border-width: 0px 20px 10px 30px; */
  width: 200px;
  height: 200px;
  /* margin-left:220px; */
  background-color: rgb(166, 175, 124);
}

.boxmodel3 {

  /* border: 10px solid; */
/* 
  bottom: 200px; */
  /* border-width: 0px 20px 10px 30px; */
  width: 200px;
  height: 200px;
  /* margin-left:460px; */
  background-color: rgb(105, 54, 201);
}

.mountain{

    position:relative;
}
.top-cloud{

    display: inline;
    position: absolute;
    right: 300px;
    top:50px;
}

.bottom-cloud{
    position:absolute;
    left:300px;
    top: 220px;;
}


.skill-row{
  display: inline-block;
  width:50%;
}